{% extends "layoutAdmin.twig" %}

{% block head %}
    {{ parent() }}
    {% include "colorbox.twig" %}
{% endblock head %}

{% block content %}
    <h1>Теги {% if dictionary %} из словаря {{ dictionary.title }}  {% endif %}({{ countItems }}) :</h1>
    <div>
        <table class="table">
            <tr>
                <th>id</th>
                <th>title</th>
                <th>created</th>
                <th>changed</th>
                <th>active</th>
                <th>actions</th>
            </tr>
            {% for item in items %}
                <tr>
                    <td>{{ item.id|dechex }}</td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.created|date("d.m.Y") }}</td>
                    <td>{{ item.changed|date("d.m.Y") }}</td>
                    <td>{{ item.active }}</td>
                    <td>
                        <a href="{{ route_url('tags_edit', {'id': item.id|dechex}) }}" class="btn btn-sm btn-warning"><span
                                    class="glyphicon glyphicon-edit"></span></a>
                        <a href="{{ route_url('tags_rm', {'id': item.id|dechex}) }}" class="btn btn-sm btn-danger"><span
                                    class="glyphicon glyphicon-remove"></span></a>
                        {% if dictionary %}
                            <form class="form-inline" style="display: inline-block;" action="{{ route_url('tags_rm_from_dictionary') }}" method="POST" enctype="multipart/form-data">
                                <input name="dictionary" type="hidden" value="{{ dictionary.id|dechex }}"/>
                                <input name="tag" type="hidden" value="{{ item.id|dechex }}"/>
                                <button type="submit" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-minus"></span></button>
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}

        </table>


        {#paginator#}
        <div>
            <ul class="pagination">
                {% if showFirstPage %}
                    <li><a href="/admin/tags">&laquo;</a></li>
                {% endif %}
                {% for page in pages %}
                    <li class="{% if page.active %}active{% endif %}"><a
                                href="/admin/tags?p={{ page.id }}">{{ page.id }}</a></li>
                {% endfor %}
                {% if showLastPage %}
                    <li><a href="/admin/tags?p={{ countPages }}">&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <a href="{{ route_url('tags_add', {'dictionary': dictionary.id|dechex}) }}" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-file"></span>
        Add New</a>
{% endblock %}
